In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
%matplotlib inline
plt.style.use('ggplot')

In [19]:
investor = pd.read_csv('./data/techcrunch.csv')
investor[:10]

,investor_permalink,investor_name,total,average_age,under_20,t20,t30,t40,t50,t60
0,500-startups,500 Startups,74,30.065753,0,45,27,1,1,0
1,accel-partners,Accel Partners,38,31.550685,1,12,21,4,0,0
2,andreessen-horowitz,Andreessen Horowitz,30,30.728767,0,14,13,3,0,0
3,atlas-venture,Atlas Venture,13,32.167123,0,7,4,2,0,0
4,atomico,Atomico,15,35.860274,0,3,6,6,0,0
5,balderton-capital,Balderton Capital,17,32.624658,1,5,6,5,0,0
6,baseline-ventures,Baseline Ventures,18,30.479452,0,8,10,0,0,0
7,battery-ventures,Battery Ventures,11,34.961644,0,3,6,2,0,0
8,benchmark-2,Benchmark,17,32.304110,0,7,8,2,0,0
9,bessemer-venture-partners,Bessemer Venture Partners,19,36.142466,0,5,6,7,0,1

In [86]:
rounds = pd.read_csv('./data/crunchbase_rounds.csv')
rounds.dtypes
#print rounds.columns
# print rounds[rounds.company_city == 'San Francisco']

#print rounds('company_city')
#rounds.groupby('company_city').sum('company_category_list')
rounds.company_city.value_counts()

Bedford              9
San Francisco        8
Beijing              7
Providence           6
Paris                5
New York             5
Bellevue             4
Woodbine             4
Suzhou               3
Los Angeles          3
Chicago              2
Melbourne            2
Bra                  2
Mountain View        2
Lake Oswego          1
Buenos Aires         1
Timisoara            1
Santa Monica         1
Cleveland            1
Champaign            1
Connellys Springs    1
London               1
Shanghai             1
Orlando              1
Lexington            1
Berlin               1
Oakland Park         1
Huntsville           1
Cambridge            1
West Hollywood       1
Tallinn              1
Sydney               1
Lake Mary            1
Stockholm            1
Oakland              1
Las Condes           1
Guangzhou            1
Vienna               1
Iselin               1
Seattle              1
dtype: int64

In [99]:
frame.describe()
frame.columns

Index([u'acquired_at', u'acquired_month', u'acquired_quarter',
       u'acquired_year', u'acquirer_category_list', u'acquirer_city',
       u'acquirer_country_code', u'acquirer_market', u'acquirer_name',
       u'acquirer_permalink', u'acquirer_region', u'acquirer_state_code',
       u'average_age', u'category_code', u'city', u'company_category_list',
       u'company_city', u'company_country_code', u'company_market',
       u'company_name', u'company_permalink', u'company_region',
       u'company_state_code', u'country_code', u'first_funding_at',
       u'founded_at', u'founded_month', u'founded_quarter', u'founded_year',
       u'funded_at', u'funded_month', u'funded_quarter', u'funded_year',
       u'funding_round_code', u'funding_round_permalink',
       u'funding_round_type', u'funding_rounds', u'funding_total_usd',
       u'homepage_url', u'id', u'investor_category_list', u'investor_city',
       u'investor_country_code', u'investor_market', u'investor_name',
       u'investor_permalink', u'investor_region', u'investor_state_code',
       u'last_funding_at', u'last_milestone_at', u'name', u'permalink',
       u'price_amount', u'price_currency_code', u'raised_amount_usd',
       u'region', u'state_code', u'status', u't20', u't30', u't40', u't50',
       u't60', u'total', u'under_20'],
      dtype='object')

In [105]:
#frame.company_state_code.value_counts()
rounds.columns
#frame[frame.company_city ==

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'funding_round_permalink',
       u'funding_round_type', u'funding_round_code', u'funded_at',
       u'funded_month', u'funded_quarter', u'funded_year',
       u'raised_amount_usd'],
      dtype='object')

In [110]:
company_by_state = rounds.groupby(['company_city','company_market','raised_amount_usd']).agg([np.median,max,min])
company_by_state.stack().head(5)

                                                      funded_year
company_city company_market raised_amount_usd
Bedford      Manufacturing  12,400,000        median         2008
                                              max            2008
                                              min            2008
                            15,000,000        median         2013
                                              max            2013

In [28]:
investments = pd.read_csv('./data/crunchbase_investments.csv')
investments.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [29]:
companies = pd.read_csv('./data/crunchbase_companies.csv')
companies.columns

Index([u'permalink', u'name', u'homepage_url', u'category_code',
       u'funding_total_usd', u'status', u'country_code', u'state_code',
       u'region', u'city', u'funding_rounds', u'founded_at', u'founded_month',
       u'founded_quarter', u'founded_year', u'first_funding_at',
       u'last_funding_at', u'last_milestone_at', u'id'],
      dtype='object')

In [77]:
acquistions = pd.read_csv('./data/crunchbase_acquisitions.csv')
acquistions.sort('price_amount')
#acquistions.sort('acquired_year').head(20)

list={}
for comp in acquistions:
    if (acquistions[comp]price_amount) != 'NaN':
        list.append
print list

SyntaxError: invalid syntax (<ipython-input-77-8784a7de6291>, line 7)

In [36]:
#perform an inner join from the data above
merged_roundsinvestments = pd.merge(left=rounds,right=investments, left_on = 'company_name', right_on'company_name')
merged_roundsinvestments.shape

SyntaxError: invalid syntax (<ipython-input-36-2f175ebf7af9>, line 2)

In [22]:
frame

,acquired_at,acquired_month,acquired_quarter,acquired_year,acquirer_category_list,acquirer_city,acquirer_country_code,acquirer_market,acquirer_name,acquirer_permalink,...,region,state_code,status,t20,t30,t40,t50,t60,total,under_20
0,2013-10-17T00:00:00,2013-10,2013-Q4,2013,|Video|Games|,New York,USA,Video,Waywire,/organization/magnify,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008-09-16T00:00:00,2008-09,2008-Q3,2008,|Social Media|Games|,Beverly Hills,USA,Games,SGN (Social Gaming Network),/organization/social-gaming-network,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-05-08T00:00:00,2014-05,2014-Q2,2014,|Finance|,Lewisville,USA,Finance,Nationstar Mortgage Holdings,/organization/nationstar-mortgage-holdings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-03-20T00:00:00,2014-03,2014-Q1,2014,|Telecommunications|Analytics|Information Tech...,Sterling,USA,Analytics,Neustar,/organization/neustar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-01-01T00:00:00,2011-01,2011-Q1,2011,NaN,NaN,NaN,NaN,Compumatica,/organization/compumatica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2012-07-23T00:00:00,2012-07,2012-Q3,2012,|Sales and Marketing|Media|Enterprise Software|,Barcelona,ESP,Media,Media Saturn,/organization/media-saturn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2012-02-02T00:00:00,2012-02,2012-Q1,2012,|Telecommunications|Mobile|Finance|,Seattle,USA,Mobile,ATLAS Intellectual Property Management Co.,/organization/atlas-intellectual-property-mana...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2006-01-01T00:00:00,2006-01,2006-Q1,2006,|None|,NaN,NaN,None,Vology,/organization/vology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-07T00:00:00,2014-01,2014-Q1,2014,NaN,Boston,USA,NaN,Thomas H. Lee Partners,/organization/thomas-h-lee-partners,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012-09-22T00:00:00,2012-09,2012-Q3,2012,|Beauty|Art|Shopping|Social Buying|Textbooks|M...,Seattle,USA,Fashion,Bonanza,/organization/bonanzle,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012-10-03T00:00:00,2012-10,2012-Q4,2012,|Internet|E-Commerce|,Provo,USA,Internet,Ancestry,/organization/ancestry-com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2013-02-27T00:00:00,2013-02,2013-Q1,2013,|Physicians|Electronic Health Records|Health C...,San Francisco,USA,Health and Wellness,Practice Fusion,/organization/practice-fusion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-01-25T00:00:00,2011-01,2011-Q1,2011,|Career Planning|Travel|Social Media|,San Francisco,USA,Career Planning,NileGuide,/organization/nile-guide,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2009-04-14T00:00:00,2009-04,2009-Q2,2009,|Enterprise Software|,NaN,NaN,Enterprise Software,Railcar Management,/organization/railcar-management,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2008-12-04T00:00:00,2008-12,2008-Q4,2008,|Investment Management|Software|,Chicago,USA,Investment Management,Morningstar,/organization/morningstar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2011-10-01T00:00:00,2011-10,2011-Q4,2011,|Sports|,San Luis Obispo,USA,Sports,LeftLane Sports,/organization/leftlane-sports,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2011-12-06T00:00:00,2011-12,2011-Q4,2011,|Content Syndication|B2B|Brand Marketing|Lead ...,Los Gatos,USA,Content Syndication,NetLine Corporation,/organization/netline,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2010-03-19T00:00:00,2010-03,2010-Q1,2010,|Advertising|,S�_��vres,FRA,Advertising,PagesJaunes,/organization/pagesjaunes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2012-08-06T00:00:00,2012-08,2012-Q3,2012,|Marketplaces|Online Shopping|Crowdsourcing|De...,San Francisco,USA,Design,99designs,/organization/99designs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-07-03T00:00:00,2013-07,2013-Q3,2013,|E-Commerce|Gift Card|Curated Web|,West Hollywood,USA,E-Commerce,Quarterly,/organization/quarterly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2012-01-04T00:00:00,2012-01,2012-Q1,2012,|Messaging|Mobile|,Hyderabad,IND,Mobile,Way2SMS.com,/organization/way2sms-com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2009-09-08T00:00:00,2009-09,2009-Q3,2009,|Software|,Irvine,USA,Software,Kofax,/organization/kofax,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2014-01-14T00:00:00,2014-01,2014-Q1,2014,|News|,Melbourne,AUS,News,REA Group,/organization/rea-group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2011-04-13T00:00:00,2011-04,2011-Q2,2011,NaN,West Chester,USA,NaN,ComCam,/organization/comcam,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2014-05-08T00:00:00,2014-05,2014-Q2,2014,|Banking|,Las Vegas,USA,Banking,Valley National Bancorp,/organization/valley-national-bancorp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2009-01-06T00:00:00,2009-01,2009-Q1,2009,|Entertainment|Video Games|Games|Curated Web|,New York,USA,Curated Web,UGO Entertainment,/organization/ugo-entertainment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2009-12-22T00:00:00,2009-12,2009-Q4,2009,|Business Services|Homeland Security|SaaS|Virt...,Charlotte,USA,Web Hosting,Peak 10,/organization/peak-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2010-10-01T00:00:00,2010-10,2010-Q4,2010,|Public Relations|,Paris,FRA,Public Relations,Publicis Groupe,/organization/publicis-groupe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2010-10-01T00:00:00,2010-10,2010-Q4,2010,|Public Relations|,Paris,FRA,Public Relations,Publicis Groupe,/organization/publicis-groupe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2010-04-06T00:00:00,2010-04,2010-Q2,2010,|Public Relations|,Hyderabad,IND,Public Relations,Wireless TT Info Services,/organization/wireless-tt-info-services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,16,5,1,0,30,1
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18,14,3,0,0,35,0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,8,0,0,0,15,0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,7,1,1,0,14,0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,7,1,0,0,14,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,5,4,0,0,11,0
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,8,2,0,0,17,0
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9,16,4,0,1,30,0
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,7,2,0,0,12,0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,6,0,0,0,10,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,5,0,0,0,11,0
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,5,1,0,0,13,0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,12,5,1,0,22,0
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,6,3,0,0,16,0
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23,12,4,1,0,41,1
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,5,2,0,0,11,0
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,6,0,0,0,10,0
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9,2,2,0,0,13,0
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,4,0,0,14,0
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10,8,2,0,0,20,0
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,8,1,1,0,16,1
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11,6,1,0,0,18,0
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55,45,10,2,0,114,2
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,6,2,0,0,10,0
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11,17,3,1,0,33,1
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,6,2,0,0,10,0
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,9,0,0,0,14,1
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,8,2,0,0,10,0
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,6,1,0,0,11,0
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7,3,1,0,0,11,0